<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <label i18n="KnowledgeBaseModule.searchTitle" style="font-size: large;">
        {{ 'KnowledgeBaseModule.searchTitle' | translate }}
      </label>
    </div>
    <div class="col-3">
      <input type="text" id="search-content" #searchContent placeholder="{{ 'KnowledgeBaseModule.searchPlaceholder' | translate }}">
    </div>
    <div class="col-3">
      <button i18n="KnowledgeBaseModule.searchButton" class="ml-3" style="font-size: large;" (click)="searchArticles()">
        {{ 'KnowledgeBaseModule.searchButton' | translate }}
      </button>
    </div>
  </div>

  <div class="row mt-5" [hidden]="isNotFound">
    <div class="col-12">
      <table mat-table [dataSource]="articlesList" class="mat-elevation-z8">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell i18n="KnowledgeBaseModule.tableHeaderTitle" *matHeaderCellDef>
            {{ 'KnowledgeBaseModule.tableHeaderTitle' | translate }}
          </th>
          <td mat-cell *matCellDef="let article"> {{ article.title }} </td>
        </ng-container>

        <!-- Content Column -->
        <ng-container matColumnDef="content">
          <th mat-header-cell i18n="KnowledgeBaseModule.tableHeaderContent" *matHeaderCellDef>
            {{ 'KnowledgeBaseModule.tableHeaderContent' | translate }}
          </th>
          <td mat-cell *matCellDef="let article">
            <span *ngIf="!article.isExpanded">{{ article.content | slice:0:50 }}...</span>
            <span *ngIf="article.isExpanded">{{ article.content }}</span>
            <a href="javascript:void(0)" (click)="toggleContent(article)">
              {{ article.isExpanded ? ('KnowledgeBaseModule.viewLess' | translate) : ('KnowledgeBaseModule.viewMore' | translate) }}
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
