<mat-dialog-content>
  <div class="container-fluid">
    <div class="line-title row">
      <div class="col-12">
        <label class="title">{{pqr.subject}}</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="field-title col-6">
        <label i18n="detailPqr.detailDialogTicket" for="">{{ 'detailPqr.ticket' | translate }}:</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.ticket_number}}</label>
      </div>
    </div>
    <div class="row">
      <div class="field-title col-6">
        <label i18n="detailPqr.detailDialogTipo" for="">{{ 'detailPqr.tipo' | translate }}:</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.type}}</label>
      </div>
    </div>
    <div class="row">
      <div class="field-title col">
        <label i18n="detailPqr.detailDialogEstado" for="">{{ 'detailPqr.estado' | translate }}:</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.status}}</label>
      </div>
    </div>
    <div class="row">
      <div class="field-title col-6">
        <label i18n="detailPqr.detailDialogFecha" for="">{{ 'detailPqr.fecha' | translate }}:</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.date}}</label>
      </div>
    </div>
    <div class="row">
      <div class="field-title col-6">
        <label i18n="detailPqr.detailDialogFechaCierre" for="">{{ 'detailPqr.fechaCierre' | translate }}:</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.estimated_close_date}}</label>
      </div>
    </div>
    <div class="row">
      <div class="field-title col-6">
        <label i18n="detailPqr.detailDialogDescripcion" for="">{{ 'detailPqr.descripcion' | translate }}:</label>
      </div>
      <div class="col-6">
        <p>{{pqr.description}}</p>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>{{ 'detailPqr.ok' | translate }}</button>
</mat-dialog-actions>
