
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>{{pqr.subject}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="">Id pqr</label>

      </div>
      <div class="col-6">
        <label for="">{{pqr.id}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="">Tipo</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.type}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Estado</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.status}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="">Fecha</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.date}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="">Fecha estimada de cierre</label>
      </div>
      <div class="col-6">
        <label for="">{{pqr.estimated_close_date}}</label>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

