

/* Contenedor principal */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/static/Orbitron-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Contenedor del formulario */
.login-form-container {
  background-color: rgba(72, 207, 194, 0.9); /* Fondo del contenedor */
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #48464C;
  margin-top: -10px;
  margin-bottom: 30px;
}


/* Input y etiquetas */
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

label {
  color: #48464C;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
}

.label-input-wrapper {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  margin-bottom: 10px; /* Espacio entre filas */
}

.label-input-wrapper label {
  min-width: 120px; /* Ajusta este ancho según tus necesidades */
  font-weight: bold;
  color: #48464C;
  margin-right: 10px; /* Espacio entre el label y el input */
  text-align: left;
}



input {
  width: 100%;
  padding: 12px;
  border: 2px solid #48464C;
  background-color: rgba(72, 207, 194, 0.9);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  color: #48464C;
}

input::placeholder {
  color: #48464C;
}

.input-error-wrapper {
  display: flex;
  flex-direction: column; /* Asegura que el input y el texto de error estén en columna */
  align-items: flex-start; /* Alinea a la izquierda el contenido del contenedor */
  width: 100%;
}

/* Botón de Ingreso */
button {
  width: 40%;
  padding: 10px;
  background-color: #029e89;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #008d76; /* Color verde más oscuro al pasar el mouse */
}

/* Link de registro */
.registro-link {
  margin-top: 20px;
  color: #48464C; /* Color del texto del link de registro */
  font-size: 18px;
  cursor: pointer;
}

.registro-link:hover {
  text-decoration: underline;
}

.is-invalid {
  border: 2px solid red;
}

/* Estilo del texto de error alineado */
.text-danger {
  display: block;
  margin: 0;
  padding-left: 2px;
  font-size: 12px;
  color: red;
}


/* Estilos para el modal de error */
.modal {
  display: block; /* Mostrar el modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


input[type="text"], input[type="password"] {
  flex: 1; /* Toma el resto del espacio disponible */
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box; /* Incluye el padding dentro del ancho */
}
