<!-- <div class="container">

  <div class="row">

    <div class="col-md-12 d-flex justify-content-center">

      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>

          <mat-card-title>
            <p style="text-align: center;">ABCall</p>
          </mat-card-title>

        </mat-card-header>

        <mat-card-content>
         <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input type="text" matInput>
         </mat-form-field>
         <mat-form-field>
          <mat-label>Contrasena</mat-label>
          <input type="password" matInput>
         </mat-form-field>
         <br/>
         <button mat-button>LIKE</button>

        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="d-flex justify-content-center">
              <button mat-button>LIKE</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</div> -->

<div>
  <div class="login-page">
    <div class="form">
      <form class="register-form">

        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <p>ABCall</p>
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button (click)="onLogin()">login</button>
        <p class="message">Not registered? <a (click)="onCreateAccount()">Create an account</a></p>
      </form>
    </div>
  </div>
</div>
