<div class="login-container">
  <div class="login-form-container">
    <h1>ABCall</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin2()">
      <div class="input-container">
        <div class="label-input-wrapper">
            <label i18n="login-Usuario" for="usuario">Usuario</label>
            <div class="input-error-wrapper">
              <input type="text" id="usuario" formControlName="usuario" i18n-placeholder   placeholder="Ingrese su usuario" [ngClass]="{'is-invalid': isFieldInvalid('usuario')}"/>
              <small i18n="login-validacion-usuario" *ngIf="isFieldInvalid('usuario')" class="text-danger">Este campo es obligatorio</small>
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="label-input-wrapper">
          <label  i18n="login-contraseña"  for="contrasena">Contraseña</label>
          <div class="input-error-wrapper">
            <input type="password" id="contrasena" formControlName="contrasena" placeholder="**********" [ngClass]="{'is-invalid': isFieldInvalid('contrasena')}"/>
            <small i18n="login-validacion-contrasenia" *ngIf="isFieldInvalid('contrasena')" class="text-danger">Este campo es obligatorio</small>
        </div>
      </div>
    </div>
      <button i18n="login-ingresar" type="submit">INGRESAR</button>
    </form>
    <p class="registro-link" i18n="login-registro-cliente"  (click)="onCreateAccount()">REGISTRO CLIENTE</p>
  </div>

  <!-- Modal para error de campos incompletos -->
  <div *ngIf="showErrorModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeErrorModal()">&times;</span>
      <p>{{modalMessage}}</p>
    </div>
  </div>
</div>

