<div class="login-container">
  <div class="login-form-container">
    <h1>ABCall</h1>
    <app-lang-selector></app-lang-selector>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin2()">
      <div class="input-container">
        <div class="label-input-wrapper">
            <label for="usuario">{{'loginModule.Usuario' | translate}}</label>
            <div class="input-error-wrapper">
              <input type="text" id="usuario" formControlName="usuario"   [attr.placeholder]="'loginModule.placeHoldrLoginUsr' | translate" [ngClass]="{'is-invalid': isFieldInvalid('usuario')}"/>
              <small i18n="login-validacion-usuario" *ngIf="isFieldInvalid('usuario')" class="text-danger">{{'loginModule.fieldRequiredValidation'| translate}}</small>
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="label-input-wrapper">
          <label  i18n="login-contraseña"  for="contrasena">{{'loginModule.Contrasenia'|translate}}</label>
          <div class="input-error-wrapper">
            <input type="password" id="contrasena" formControlName="contrasena" placeholder="**********" [ngClass]="{'is-invalid': isFieldInvalid('contrasena')}"/>
            <small i18n="login-validacion-contrasenia" *ngIf="isFieldInvalid('contrasena')" class="text-danger">{{'loginModule.fieldRequiredValidation'| translate}}</small>
        </div>
      </div>
    </div>
      <button type="submit">{{'loginModule.loginbtnIngresar' | translate}}</button>
    </form>
    <p class="registro-link" (click)="onCreateAccount()">{{'loginModule.loginBtRegistroCliente'|translate}}</p>
  </div>

  <!-- Modal para error de campos incompletos -->
  <div *ngIf="showErrorModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeErrorModal()">&times;</span>
      <p>{{modalMessage}}</p>
    </div>
  </div>
</div>

