<div class="register-page">
  <div class="register-form">
    
    <h1>{{'flowsModule.createFlow'|translate}}</h1>
    <form [formGroup]="form" (ngSubmit)="saveInfo()">
      <!-- Primera fila -->
      <div class="form-row">
        <div class="form-column">
          <label>{{'flowsModule.flowName' | translate}}</label>
          <input type="text" formControlName="name" 
                 [ngClass]="{'is-invalid': form.get('name')?.invalid && (submitted || form.get('name')?.touched)}">
          <div *ngIf="(submitted || form.get('name')?.touched) && form.get('name')?.invalid" class="small-text">
            {{ getErrorNameField() }}
          </div>
        </div>
      </div>

      <!-- Segunda fila -->
      <div class="form-row">
        <div class="form-column">
          <label>{{'flowsModule.flowDescription' | translate}}</label>
          <textarea formControlName="description" 
                    [ngClass]="{'is-invalid': form.get('description')?.invalid && (submitted || form.get('description')?.touched)}">
          </textarea>
          <div *ngIf="(submitted || form.get('description')?.touched) && form.get('description')?.invalid" class="small-text">
            {{ getErrorDescriptionField() }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column">
          <label>Tags</label>
          <div class="tags-container">
            <table>
              <tbody>
                <tr *ngFor="let tag of tags">
                  <td>{{tag.name}}</td>
                  <td><input type="checkbox" [checked]="form.get('tags')?.value.includes(tag.id)" 
                    (change)="modifyTags(tag.id)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="form-buttons">
        <button type="button" class="btn-regresar" (click)="onCancel()">
          {{'UserFormModule.cancelarBtn'|translate}}
        </button>
        <button type="submit" class="btn-registrar" [disabled]="form.invalid">
          {{'UserFormModule.guardarBtn'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>
