

<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="ml-3 mt-3">Listado usuarios registrados</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-end">
    <div class="col-2">
      <button class="button-1" (click)="goToUserCreation()">Crear usuario</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <table *ngIf="usersList.length!=0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- identification Column -->
        <ng-container matColumnDef="identificacion">
          <th mat-header-cell *matHeaderCellDef> Identificación </th>
          <td mat-cell *matCellDef="let element"> {{element.id_number}} </td>
        </ng-container>

        <!-- profile Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name+' '+element.last_name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="perfil">
          <th mat-header-cell *matHeaderCellDef> Perfil </th>
          <td mat-cell *matCellDef="let element"> {{element.user_role}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th style="width: 160px;" mat-header-cell *matHeaderCellDef> </th>
          <td *matCellDef="let row">
            <mat-icon aria-hidden="false" aria-label="delete user" fontIcon="trash"></mat-icon>
            <button (click)="onEditUser(row.cognito_user_sub)" mat-button>Edit</button>
            <button (click)="onDeleteUser(row.id_number)" mat-button>Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
