<div class="container">
  <div class="row mt-5">
    <div class="col-3">
     <label style="font-size: large;" >Digite el radicado:</label>
    </div>
    <div class="col-3">
      <!-- <mat-form-field appearance="outline"> -->
         <input type="text" matInput>
      <!-- </mat-form-field> -->
    </div>
    <div class="col-3">
      <button class="ml-3" style="font-size: large;" (click)="searchIncidents()">Enviar</button>
    </div>
  </div>
  <div class="row mt-5" *ngIf="incidentsList!==undefined">
    <div class="col-12">
      <table  mat-table [dataSource]="incidentsList" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
                 <!-- Position Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Subject </th>
          <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th style="width: 160px;" mat-header-cell *matHeaderCellDef> </th>
          <td *matCellDef="let row">
            <button class="button-1" (click)="openDialog(row)" mat-button>Ver detalle</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
