<div class="container">
  <div *ngIf="!tabData.gestion" class="row mt-5">
    <div class="col-3">
     <label i18n="listPqrMOdule.pqrListTitle" style="font-size: large;">{{ 'listPqrMOdule.digiteElRadicado' | translate }}</label>
    </div>
    <div class="col-3">
      <input [(ngModel)]="ticketNumber" type="text" matInput>
    </div>
    <div class="col-3">
      <button i18n="listPqrMOdule.pqrListBtnEnviarIncidente" class="ml-3" style="font-size: large;" (click)="searchIncidents()">
        {{ 'listPqrMOdule.enviar' | translate }}
      </button>
    </div>
  </div>

  <div class="row mt-5" [hidden]="isNotFound">
    <div class="col-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="ticket_number">
          <th  mat-header-cell *matHeaderCellDef>{{ 'detailPqr.ticket' | translate}}</th>
          <td mat-cell *matCellDef="let element">{{ element.ticket_number  }}</td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="date">
          <th  mat-header-cell *matHeaderCellDef>{{ 'listPqrMOdule.fecha' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.date  }}</td>
        </ng-container>

           <!-- Asunto Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>{{ 'listPqrMOdule.asunto' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{ 'listPqrMOdule.estado' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

     

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th style="width: 160px;" mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button  class="button-1" (click)="openDialog(row)" mat-button>{{ 'listPqrMOdule.verDetalle' | translate }}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
