
 
 
  .active{
    background-color: #189B8D;
    font-weight: bold;
    height: 50px; /* Igual a la altura de los elementos no activos */
    transform: translateY(-5px); /* Eleva hacia arriba */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  button{
    /* border-radius: 0px 0px 8px 8px;*/
     height: 40px;
     transition: background-color 0.3s, color 0.3s;
     background-color:#47E3D2 ;
     border: transparent solid 0px;
  
  }
  button .active {
    margin-top: -5px; /* Ajusta este valor para darle la apariencia de altura extra */
  }
  

  
  button:hover {
    background-color: #189B8D; /* Color de fondo en hover */
    color: #ffffff; /* Color de texto en hover */
  }
  
  