<div class="register-page">
  <div class="register-form">
    <h1>REGISTRE SUS DATOS</h1>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <!-- Primera columna -->
        <div class="form-column">
          <label for="tipo-identificacion">TIPO IDENTIFICACION*:</label>
          <select id="tipo-identificacion" formControlName="tipoIdentificacion">
            <option value="cc">Cédula de Ciudadanía</option>
            <option value="passport">Pasaporte</option>
          </select>

          <label for="nombres">NOMBRES *:</label>
          <input type="text" id="nombres" formControlName="nombres" placeholder="Ingrese sus nombres"/>

          <label for="empresa">EMPRESA PQR*:</label>
          <input type="text" id="empresa" formControlName="empresa" placeholder="Ingrese nombre de la empresa"/>

          <label for="correo">CORREO ELECTRONICO*:</label>
          <input type="email" id="correo" formControlName="correo" placeholder="Digite su correo electrónico"/>
        </div>

        <!-- Segunda columna -->
        <div class="form-column">
          <label for="identificacion">IDENTIFICACION*:</label>
          <input type="text" id="identificacion" formControlName="identificacion" placeholder="Digite su identificación"/>

          <label for="apellidos">APELLIDO*:</label>
          <input type="text" id="apellidos" formControlName="apellidos" placeholder="Digite su apellido"/>

          <label for="telefono">TELEFONO CELULAR*:</label>
          <input type="text" id="telefono" formControlName="telefono" placeholder="Ingrese su teléfono"/>

          <label for="contrasena">CONTRASEÑA*:</label>
          <input type="password" id="contrasena" formControlName="contrasena" placeholder="Ingrese su contraseña"/>

          <label for="repetir-contrasena">REPETIR CONTRASEÑA*:</label>
          <input type="password" id="repetir-contrasena" formControlName="repetirContrasena" placeholder="Repita su contraseña"/>
        </div>
      </div>

      <!-- Mensaje general indicando que los campos son obligatorios -->
      <p class="small-text">* Este campo es requerido</p>

      <!-- Botones -->
      <div class="form-buttons" style="display: flex; justify-content: center; gap: 20px;">
        <button type="button" class="btn-regresar" (click)="onCancel()">CANCELAR</button>
        <button type="submit" class="btn-registrar" [disabled]="registroForm.invalid">REGISTRAR</button>
      </div>
    </form>
  </div>
</div>

