html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.register-page {
  width: 100%;
  min-height: 100vh; /* Esto asegura que ocupe al menos toda la altura visible */
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Asegura que el contenido esté centrado verticalmente */
}

.register-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #00bfa5;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Reducir espacio entre filas */
}

.form-column {
  width: 48%; /* Ajusta el tamaño de las columnas */
}

.form-column label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-column input,
.form-column select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Reducir espacio entre inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px; /* Reducir espacio superior de los botones */
  margin-bottom: 10px; /* Reducir espacio inferior entre botones y borde de pantalla */
}

.form-buttons .btn-regresar {
  background-color: #ff8a80;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-buttons .btn-registrar {
  background-color: #00bfa5;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.small-text {
  font-size: 12px;
  color: #ff0000; /* Mensaje de campo requerido */
  margin-bottom: 10px; /* Asegura que el texto no esté pegado a los campos */
}

mat-error {
  font-size: 10px;  /* Cambia el tamaño de las etiquetas de error */
  color: #ff0000;   /* Puedes mantener el color rojo para los errores */
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Asegura que todo el contenido esté centrado verticalmente */
}
