<!-- <code style="margin:0px auto;">
  {{form.invalid}}
  {{form.value | json}}
  {{form.value.password | json}}
</code> -->
<div class="register-page">
  <div class="register-form">
    <h1>{{'UserFormModule.title'|translate}}</h1>
    <form [formGroup]="form" (ngSubmit)="saveInfo()">

      <!-- Primera fila -->
      <div class="form-row">
        <div class="form-column">
          <label>{{'UserFormModule.PerfilLbl'|translate}}</label>
          <select formControlName="user_role" [ngClass]="{'is-invalid': form.get('user_role')?.invalid && (submitted || form.get('user_role')?.touched)}">
            <option *ngFor="let op of profiles" [value]="op.id">{{ op.profileName }}</option>
          </select>
          <div *ngIf="(submitted || form.get('user_role')?.touched) && form.get('user_role')?.invalid" class="small-text">
            {{ getErrorProfileField() }}
          </div>
        </div>

        <div *ngIf="form.value.user_role == 'Client'" class="form-column">
          <label>{{'UserFormModule.SubcripcionLbl'|translate}}</label>
          <select formControlName="plan" [ngClass]="{'is-invalid': form.get('plan')?.invalid && (submitted || form.get('plan')?.touched)}">
            <option *ngFor="let op of subscriptionsPlan" [value]="op.id">{{ op.subscrptionName }}</option>
          </select>
          <div *ngIf="(submitted || form.get('plan')?.touched) && form.get('plan')?.invalid" class="small-text">
            {{ getErrorPlanField() }}
          </div>
        </div>
      </div>

      <!-- Segunda fila -->
      <div class="form-row">
        <div class="form-column">
          <label>{{'UserFormModule.tipoIdentificacionLbl'|translate}}</label>
          <select formControlName="document_type" [ngClass]="{'is-invalid': form.get('document_type')?.invalid && (submitted || form.get('document_type')?.touched)}">
            <option *ngFor="let op of documentIds" [value]="op.id">{{ op.documentName }}</option>
          </select>
          <div *ngIf="(submitted || form.get('document_type')?.touched) && form.get('document_type')?.invalid" class="small-text">
            {{ getErrorIdentificationTypeField() }}
          </div>
        </div>

        <div class="form-column">
          <label>{{'UserFormModule.identificacion'|translate}}</label>
          <input type="text" formControlName="id_number" [ngClass]="{'is-invalid': form.get('id_number')?.invalid && (submitted || form.get('id_number')?.touched)}">
          <div *ngIf="(submitted || form.get('id_number')?.touched) && form.get('id_number')?.invalid" class="small-text">
            {{ getErrorIdentificacionField() }}
          </div>
        </div>
      </div>

      <!-- Tercera fila -->
      <div *ngIf="form.value.user_role != 'Client'" class="form-row">
        <div class="form-column">
          <label>{{'UserFormModule.nombreLbl'|translate}}</label>
          <input type="text" formControlName="name" [ngClass]="{'is-invalid': form.get('name')?.invalid && (submitted || form.get('name')?.touched)}">
          <div *ngIf="(submitted || form.get('name')?.touched) && form.get('name')?.invalid" class="small-text">
            {{ getErrorNameField() }}
          </div>
        </div>

        <div class="form-column">
          <label>{{'UserFormModule.apellidosLbl'|translate}}</label>
          <input type="text" formControlName="last_name" [ngClass]="{'is-invalid': form.get('last_name')?.invalid && (submitted || form.get('last_name')?.touched)}">
          <div *ngIf="(submitted || form.get('last_name')?.touched) && form.get('last_name')?.invalid" class="small-text">
            {{ getErrorLastNameField() }}
          </div>
        </div>
      </div>

      <!-- Datos de la empresa (solo para "Client") -->
      <div *ngIf="form.value.user_role == 'Client'" class="form-row highlight-box">
        <div class="form-column">
          <label>{{'UserFormModule.razonSocialLbl'|translate}}</label>
          <input type="text" formControlName="razonSocialEmpresa" [ngClass]="{'is-invalid': form.get('razonSocialEmpresa')?.invalid && (submitted || form.get('razonSocialEmpresa')?.touched)}">
          <div *ngIf="(submitted || form.get('razonSocialEmpresa')?.touched) && form.get('razonSocialEmpresa')?.invalid" class="small-text">
            {{ getErrorRazonSocialField() }}
          </div>
        </div>

        <div class="form-column">
          <label>{{'UserFormModule.direccionEmpresaLbl'|translate}}</label>
          <input type="text" formControlName="direccionEmpresa" [ngClass]="{'is-invalid': form.get('direccionEmpresa')?.invalid && (submitted || form.get('direccionEmpresa')?.touched)}">
          <div *ngIf="(submitted || form.get('direccionEmpresa')?.touched) && form.get('direccionEmpresa')?.invalid" class="small-text">
            {{ getErrorDireccionEmpresaField() }}
          </div>
        </div>
      </div>

      <!-- Representante legal (solo para "Client") -->
      <div *ngIf="form.value.user_role == 'Client'" class="form-row">
        <div class="form-column">
          <label>{{'UserFormModule.idTypeRepLegalLbl'|translate}}</label>
          <select formControlName="tipoIdentificacionRepLegal" [ngClass]="{'is-invalid': form.get('tipoIdentificacionRepLegal')?.invalid && (submitted || form.get('tipoIdentificacionRepLegal')?.touched)}">
            <option *ngFor="let op of documentIds" [value]="op.id">{{ op.documentName }}</option>
          </select>
          <div *ngIf="(submitted || form.get('tipoIdentificacionRepLegal')?.touched) && form.get('tipoIdentificacionRepLegal')?.invalid" class="small-text">
            {{ getErrorLegalrepIdTypeField() }}
          </div>
        </div>

        <div class="form-column">
          <label>{{'UserFormModule.idRepLegal'|translate}}</label>
          <input type="text" formControlName="identificacionRepLegal" [ngClass]="{'is-invalid': form.get('identificacionRepLegal')?.invalid && (submitted || form.get('identificacionRepLegal')?.touched)}">
          <div *ngIf="(submitted || form.get('identificacionRepLegal')?.touched) && form.get('identificacionRepLegal')?.invalid" class="small-text">
            {{ getErrorLegalrepIdField() }}
          </div>
        </div>
      </div>

      <!-- Datos de contacto -->
      <div class="form-row">
        <div class="form-column">
          <label>{{'UserFormModule.EmailLbl'|translate}}</label>
          <input type="email" formControlName="email" [ngClass]="{'is-invalid': form.get('email')?.invalid && (submitted || form.get('email')?.touched)}">
          <div *ngIf="(submitted || form.get('email')?.touched) && form.get('email')?.invalid" class="small-text">
            {{ getErrorEmailField() }}
          </div>
        </div>

        <div class="form-column">
          <label>{{'UserFormModule.telefono'|translate}}</label>
          <input type="text" formControlName="cellphone" [ngClass]="{'is-invalid': form.get('cellphone')?.invalid && (submitted || form.get('cellphone')?.touched)}">
          <div *ngIf="(submitted || form.get('cellphone')?.touched) && form.get('cellphone')?.invalid" class="small-text">
            {{ getErrorTelephoneField() }}
          </div>
        </div>
      </div>

      <!-- Contraseñas -->
      <ng-container *ngIf="model == null">
        <div class="form-row highlight-box">
          <div class="form-column">
            <label>{{'UserFormModule.contrasenia'|translate}}</label>
            <input type="password" formControlName="password" [ngClass]="{'is-invalid': form.get('password')?.invalid && (submitted || form.get('password')?.touched)}">
            <div *ngIf="(submitted || form.get('password')?.touched) && form.get('password')?.invalid" class="small-text">
              {{ getErrorPasswordField() }}
            </div>

            <!-- Validaciones de contraseña -->
            <div *ngIf="(submitted || form.get('password')?.touched) && form.get('password')?.invalid" class="col-6 pt-3">
              <div class="pass-err-container">
                <ul class="pass-err text-sm">
                  <li class="block"
                      [ngClass]="{'pass-ok': form.value.password?.match('^(?=.*[A-Z])')}">
                    {{'UserFormModule.validacionContraseniaLetraMayus'|translate}}
                  </li>
                  <li class="block"
                      [ngClass]="{'pass-ok': form.value.password?.match('(?=.*[a-z])')}">
                    {{'UserFormModule.validacionContraseniaLetraMinus'|translate}}
                  </li>
                  <li class="block"
                      [ngClass]="{'pass-ok': form.value.password?.match('(.*[0-9].*)')}">
                      {{'UserFormModule.validacionContraseniaUnDigito'|translate}}
                  </li>
                  <li  class="block"
                      [ngClass]="{'pass-ok': form.value.password?.match('(?=.*[!@#$%^&*])')}">
                    {{'UserFormModule.validacionContraseniaCaracEspecial'|translate}}
                  </li>
                  <li class="block"
                      [ngClass]="{'pass-ok': form.value.password?.match('.{8,}')}">
                    {{'UserFormModule.validacionContraseniaMinimoCaract'|translate}}
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="form-column">
            <label>{{'UserFormModule.repContrasenia'|translate}}</label>
            <input type="password" formControlName="password2" [ngClass]="{'is-invalid': form.get('password2')?.invalid && (submitted || form.get('password2')?.touched)}">
            <div *ngIf="(submitted || form.get('password2')?.touched) && form.get('password2')?.invalid" class="small-text">
              {{ getErrorPasswordField() }}
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Botones -->
      <div class="form-buttons">
        <button type="button" class="btn-regresar" (click)="onCancel()">{{'UserFormModule.cancelarBtn'|translate}}</button>
        <button type="submit" (click)="saveInfo()" class="btn-registrar" [disabled]="form.invalid">{{'UserFormModule.guardarBtn'|translate}}</button>

      </div>
    </form>
  </div>
</div>

