<!-- <code style="margin:0px auto;">
  {{form.invalid}}
  {{form.value | json}}
  {{form.value.password | json}}
</code> -->
<div class="register-page">
  <div class="register-form">
    <h1>EDITE SUS DATOS</h1>
    <form [formGroup]="form" (submit)="saveInfo()">

      <!-- Primera fila -->
      <div class="form-row">
        <div class="form-column">
          <label i18n="user-form-perfil">Perfil</label>
          <select formControlName="user_role" [ngClass]="{'is-invalid': form.invalid}">
            <option *ngFor="let op of profiles" [value]="op.id">{{ op.profileName }}</option>
          </select>
          <div *ngIf="form.invalid" class="small-text">{{getErrorProfileField()}}</div>
        </div>

        <div *ngIf="form.value.user_role == 'Client'" class="form-column">
          <label i18n="user-form-selec-tipo-plan">Seleccione el tipo de plan</label>
          <select formControlName="plan" [ngClass]="{'is-invalid': form.invalid}">
            <option *ngFor="let op of subscriptionsPlan" [value]="op.id">{{ op.subscrptionName }}</option>
          </select>
          <div *ngIf="form.invalid" class="small-text">{{getErrorPlanField()}}</div>
        </div>
      </div>

      <!-- Segunda fila -->
      <div class="form-row">
        <div class="form-column">
          <label i18n="user-form-id-type">Tipo Identificación</label>
          <select formControlName="document_type" [ngClass]="{'is-invalid': form.invalid}">
            <option *ngFor="let op of documentIds" [value]="op.id">{{ op.documentName }}</option>
          </select>
          <div *ngIf="form.invalid" class="small-text">{{getErrorIdentificationTypeField()}}</div>
        </div>

        <div class="form-column">
          <label i18n="user-form-id-number">Identificación</label>
          <input type="text" formControlName="id_number" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorIdentificacionField()}}</div>
        </div>
      </div>

      <!-- Tercera fila -->
      <div *ngIf="form.value.user_role != 'Client'" class="form-row">
        <div class="form-column">
          <label i18n="user-form-nombre">Nombres</label>
          <input type="text" formControlName="name" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorNameField()}}</div>
        </div>
        <div class="form-column">
          <label i18n="user-form-apellido">Apellidos</label>
          <input type="text" formControlName="last_name" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorLastNameField()}}</div>
        </div>
      </div>

      <!-- Datos de la empresa (solo para "Client") -->
      <div *ngIf="form.value.user_role == 'Client'" class="form-row highlight-box">
        <div class="form-column">
          <label i18n="user-form-razon-social">Razón social*</label>
          <input type="text" formControlName="razonSocialEmpresa" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorRazonSocialField()}}</div>
        </div>

        <div class="form-column">
          <label i18n="user-form-direccion-empresa">Dirección empresa</label>
          <input type="text" formControlName="direccionEmpresa" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorDireccionEmpresaField()}}</div>
        </div>
      </div>

      <!-- Representante legal (solo para "Client") -->
      <div *ngIf="form.value.user_role == 'Client'" class="form-row">
        <div class="form-column">
          <label i18n="user-form-id-type-rep-legal">Tipo Identificación rep. legal</label>
          <select formControlName="tipoIdentificacionRepLegal" [ngClass]="{'is-invalid': form.invalid}">
            <option *ngFor="let op of documentIds" [value]="op.id">{{ op.documentName }}</option>
          </select>
          <div *ngIf="form.invalid" class="small-text">{{getErrorLegalrepIdTypeField()}}</div>
        </div>

        <div class="form-column">
          <label i18n="user-form-id-rep-legal">Identificación rep. legal</label>
          <input type="text" formControlName="identificacionRepLegal" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorLegalrepIdField()}}</div>
        </div>
      </div>

      <div *ngIf="form.value.user_role == 'Client'" class="form-row">
        <div class="form-column">
          <label i18n="user-form-nombre-rep-legal">Nombres rep. legal</label>
          <input type="text" formControlName="nombresRepLegal" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorLegalrepNamesField()}}</div>
        </div>

        <div class="form-column">
          <label i18n="user-form-apellidos-rep-legal">Apellidos Rep. Legal</label>
          <input type="text" formControlName="apellidosRepLegal" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorLegalrepLastNamesField()}}</div>
        </div>
      </div>

      <!-- Datos de contacto -->
      <div class="form-row">
        <div class="form-column">
          <label i18n="user-form-email">Correo electrónico</label>
          <input type="email" formControlName="email" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorEmailField()}}</div>
        </div>

        <div class="form-column">
          <label i18n="user-form-telefono">Teléfono</label>
          <input type="text" formControlName="cellphone" [ngClass]="{'is-invalid': form.invalid}" />
          <div *ngIf="form.invalid" class="small-text">{{getErrorTelephoneField()}}</div>
        </div>
      </div>

      <!-- Contraseñas -->
      <ng-container *ngIf="model == null">
        <div class="form-row highlight-box">
          <div class="form-column">
            <label i18n="user-form-contrasena">Contraseña*</label>
            <input type="password" formControlName="password" [ngClass]="{'is-invalid': form.invalid}" />
            <div *ngIf="form.invalid" class="small-text">{{getErrorPasswordField()}}</div>

            <!-- Validaciones de contraseña -->
            <div class="col-6 pt-3">
              <div class="pass-err text-sm">
                <ul>
                  <li i18n="user-form-pass-una-mayuscula" class="block" [ngClass]="{'pass-ok': form.value.password?.match('^(?=.*[A-Z])')}">Una letra Mayuscula</li>
                  <li i18n="user-form-pass-una-minuscula" class="block" [ngClass]="{'pass-ok': form.value.password?.match('(?=.*[a-z])')}">Una letra Minuscula.</li>
                  <li i18n="user-form-pass-una-digito" class="block" [ngClass]="{'pass-ok': form.value.password?.match('(.*[0-9].*)')}">Al menos un digito</li>
                  <li i18n="user-form-pass-una-caracter-especial" class="block" [ngClass]="{'pass-ok': form.value.password?.match('(?=.*[!@#$%^&*])')}">Un Carácter Especial</li>
                  <li i18n="user-form-pass-caracteres-minimos" class="block" [ngClass]="{'pass-ok': form.value.password?.match('.{8,}')}">Mínimo 8 caracteres de logitud</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-column">
            <label i18n="user-form-repetir-contrasenia">Repetir Contraseña*</label>
            <input type="password" formControlName="password2" [ngClass]="{'is-invalid': form.invalid}" />
          </div>
        </div>
      </ng-container>

      <!-- Botones -->
      <div class="form-buttons">
        <button type="button" class="btn-regresar" (click)="onCancel()">CANCELAR</button>
        <button type="submit" class="btn-registrar" [disabled]="form.invalid">GUARDAR</button>
      </div>
    </form>
  </div>
</div>


  <!--nuevo formulario-->
