
<!-- <code style="margin:0px auto;">
  {{form.value.descripcion.length}}
  {{form.value | json}}
</code> -->
<form class="mt-5" (submit)="saveInfo()" [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center">
        <div class="container-fluid">

          <!-- Tipo de solicitud -->
          <div class="row align-items-center mb-3">
            <div class="col-3 text-right d-flex align-items-center justify-content-start">
              <label i18n="pqr-form-tipo-solicitud" class="form-label">Tipo de solicitud:</label>
            </div>
            <div class="col-9">
              <div *ngIf="form.controls['type'].touched && form.controls['type'].invalid" class="small-text">
                {{ getErrorRequestTypeField() }}
              </div>
              <select formControlName="type" [ngClass]="{'is-invalid': form.controls['type'].touched && form.controls['type'].invalid}">
                <option value="">Seleccione Tipo de solicitud</option>
                <option *ngFor="let op of tipoSolicitud" [value]="op.id">{{op.tiposol}}</option>
              </select>
            </div>
          </div>


          <!-- Asunto -->
          <div class="row align-items-center mb-3">
            <div class="col-3 text-right d-flex align-items-center justify-content-start">
              <label i18n="pqr-form-asunto" for="asunto" class="form-label">Asunto*:</label>
            </div>
            <div class="col-9">
              <div *ngIf="form.controls['title'].touched && form.controls['title'].invalid" class="small-text">
                {{ getErrorSubjectField() }}
              </div>
              <input id="asunto" formControlName="title" type="text"
              class="form-control"
              [ngClass]="{'is-invalid': form.controls['title'].touched && form.controls['title'].invalid}"
              placeholder="Asunto">
            </div>
          </div>

          <!-- Descripción -->
          <div class="row align-items-start mb-3">
            <div class="col-3 text-right d-flex align-items-start justify-content-start">
              <label i18n="pqr-form-descripcion" for="descripcion" class="form-label">Descripción*:</label>
            </div>
            <div class="col-9">
              <div *ngIf="form.controls['description'].touched && form.controls['description'].invalid" class="small-text">
                {{ getErrorDescriptionField() }}
              </div>

              <textarea id="descripcion" formControlName="description" class="form-control"
          [ngClass]="{'is-invalid': form.controls['description'].touched && form.controls['description'].invalid}"
          style="height: 150px;" placeholder="Descripción"></textarea>
              <!-- Contador de caracteres y botón Enviar -->
              <div class="d-flex justify-content-between mt-1">
                <span>{{form.value.description.length}}/500</span>
                <button i18n="pqr-btn-enviar" [disabled]="form.invalid" type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>






