.header-container{
  position:sticky;
  top:0px;
  background-color:#1FC7B5 ;
  margin-top: 0px;
  z-index: 9;
  z-index: 9;
}
@font-face{
  font-family: 'bebas-neue';
  src:url("/assets/fonts/bebas_neue/BebasNeue-Regular.ttf") format('truetype');
  src:url("/assets/fonts/bebas_neue/BebasNeue-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.text-content{
  height: 75px;
  font-size: 35px;
  width: auto;
}
.header-text{
  padding: 10px;
  margin-top: 0px;
  margin-left: 40px;
  font-family: 'bebas-neue';
  font-family: 'bebas-neue';
  color:#D9D9D9;
  font-size: 35px;
}
.active{
  background-color: #189B8D;
  font-weight: bold;
  height: 50px; /* Igual a la altura de los elementos no activos */
  transform: translateY(-5px); /* Eleva hacia arriba */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navbar-nav{
  background-color:#47E3D2 ;
}
.nav-link-container{
   border-radius: 0px 0px 8px 8px;
   height: 40px;

}
.navbar-nav .active {
  margin-top: -5px; /* Ajusta este valor para darle la apariencia de altura extra */
}

/* Efecto de hover para las opciones del menú */
.nav-link-container .nav-link {
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  color: #312d2d;
  line-height: 1.5;
}

.nav-link-container .nav-link:hover {
  background-color: #189B8D; /* Color de fondo en hover */
  color: #ffffff; /* Color de texto en hover */
}

@media(max-width: 1364px){
  .nav-link-container .nav-link {
     font-size: smaller;
  }

}